.searchSection {
  width: 70%;
  margin: 0 20%;
  display: flex;
  flex-direction: column;
}

.subHeader {
  text-align: center;
  padding-bottom: 10px;
}

.historyList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.textbox {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.sectionHeader {
  padding-bottom: 30px;
  margin: 0 auto;
  width: fit-content;
}

.aside {
  width: 30%;
}

.main {
  display: flex;
}

.resultItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.resultItem:hover {
  border: 1px solid white;
}

.thumbnail {
  margin-right: 20px;
}

.resultContainer {
  display: flex;
  flex-direction: column;
}
